@import "_reset.scss";

.container {
    display: flex;
    justify-content: center;
    padding: 40px;

    .form {
        .field {
            &:not(:first-child) {
                margin-top: 16px;
            }
    
            .field-label {
                display: inline-block;
                width: 75px;
            }
        }
    
        .submit-button {
            margin-top: 16px;
        }
    }
}
